.app {
  display: grid;
  place-items: center;
  background-color: #dadbd3;
  height: 100vh;
}

.app__body {
  display: flex;
  background-color: #F8F9FA;
  position: absolute;
  /* margin-top: 10px; */
  height: 96vh;
  width: 73vw;
  box-shadow: -1px 4px 20px -6px  rgba(0, 0, 0, 0.75);
}